.text {

    font-size: 50px;
    font-family: Roboto;
    font-weight: 600;
    margin-left: 50px;

}

.subtitle {

    font-size: 25px;
    font-family: roboto;
    font-weight: 600;
    margin-left: 100px;

}
body {

    background-color: rgba(61, 52, 52, 0.445);

}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: #968c8ca4; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgba(99, 98, 98, 0.658); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  iframe {

width: 1000px;
height: 500px;

  }